@use "base";
.productDetails {
  margin: 0 3rem;
  &__title {
    font-size: 10rem;
    text-align: center;
  }
  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    text-align: left;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__name {
    width: 100%;
    font-size: 5rem;
  }
  &__price {
    width: 50%;
    font-size: 5rem;
  }
  &__buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  &__pay{
    width: 40%;
    font-size: 2.5rem;
    border-radius: 5rem;
    border: 0;
    cursor: pointer;
    &:hover{
      background-color: antiquewhite;
      scale: 1.2;
    }
    i{
      font-size: 5rem;
    }
  }
  &__cart{
    width: 40%;
    font-size: 2.5rem;
    border-radius: 5rem;
    cursor: pointer;
    border: 0;
    &:hover{
      background-color: antiquewhite;
      scale: 1.2;
    }
    i{
      font-size: 5rem;
    }
  }
  &__description {
    font-size: 5rem;
  }
  &__image {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10rem;
    }
  }
}
