@use "base";
.FAQ {
  width: 90%;
  margin: 3rem auto;
  &__header {
    font-size: 5rem;
    text-align: center;
  }

  & summary {
    font-size: 3em;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
  }
  & p {
    font-size: 3rem;
    padding: 10px;
    margin-left: 20px;
    background: linear-gradient(to bottom right, #bcdcbf, #e6f0e5);
    border-left: 1rem solid black;
  }
}
