.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: black;
  margin: 0 3rem;
  &_followUs {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    & h3 {
      font-size: 3rem;
    }
    & i {
      font-size: 5rem;
    }
  }
  &_detail {
    grid-column: 1;
    grid-row: 2;
  }
  &_map {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr; /* 改為單列佈局 */
    grid-template-rows: auto auto auto; /* 三行佈局 */
  }

  .footer_map {
    grid-column: 1; /* map 移到第一行 */
    grid-row: 1;
  }

  .footer_followUs {
    grid-column: 1; /* followUs 移到 map 之下 */
    grid-row: 2;
    margin-top: 20px;
  }

  .footer_detail {
    grid-column: 1; /* detail 移到最後一行 */
    grid-row: 3;
  }
}
