@use "base";

.hotEvent {
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
  &__date {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: peachpuff;
    border: 0.3rem solid black;
    border-radius: 10px;
  }
  &__event {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to right,
      transparent,
      rgb(240, 250, 49) 15%,
      rgb(240, 250, 49) 85%,
      transparent
    );
  }
}
.calendar {
  width: 100%;
  padding: 30px 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
  }
  &__monthTitle {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: black;
  }
  &__btns {
    display: flex;
    gap: 3rem;
  }
  &__btn {
    width: 4rem;
    height: 4rem;
    background: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: $color-tertiary;
      transform: scale(1.05);
    }
  }
  & ul {
    list-style-type: none;
    display: flex;
    justify-content: auto;
    margin-bottom: 10px;
    width: 100%;
  }
  & li {
    color: black;
    width: calc(100% / 7);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    font-size: 3rem;
    font-weight: 400;
    color: black;
    transition: all 0.3s;
    user-select: none;
    &:hover {
      transform: scale(1.1);
      background-color: greenyellow;
    }
    &--next,
    &--prev {
      color: #d3d1d1;
    }
    &--today {
      background-color: greenyellow;
      transform: scale(1);
      font-size: 3rem;
    }
  }
}
.event {
  color: black;
  text-align: start;
  &__day {
    font-size: 10rem;
  }
  &__seperator {
    width: 50%;
    height: 0.5rem;
    background-color: black;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 5rem;
  }
  &__time {
    font-size: 2rem;
  }
  &__location {
    font-size: 2rem;
  }
  &__others {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hotEvent {
    flex-direction: column;
    &__date,
    &__event {
      width: 100%;
    }
  }

  .calendar {
    width: 100%;
    margin-bottom: 20px;
  }

  .event {
    width: 100%;
  }
}
